.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

.header-menu-mobile {
  width: 30px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.header-menu-line {
  height: 4px;
  background: #12130c;
}

@media (max-width: 800px) {
  .header {
    padding: 0.5em;
  }
}
